/*
Theme Name: Anissa
Theme URI: https://alienwp.com/themes/anissa/
Description: Anissa is a beautiful WordPress blogging theme, designed in a feminine style with elegant Typography and post styling. It features a custom image header with text and custom logo upload. A featured post carousel ( choose the category and number of posts ). The theme has been designed to look perfect on all size screens, from mobiles to widescreen displays. It is fully compatible and styled for WooCommerce so you can use it to create your own online shop. It has a custom about me widget where you can add a photo and your social media links, also has a social media menu in the header and light-weight social sharing buttons built-in to each post. Get 20 more themes, Theme Upgrades and Customer Support for this theme at https://alienwp.com
Tags: two-columns, custom-background, custom-header, blog, photography, e-commerce, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, threaded-comments, translation-ready 
Version: 0.0.5
Author: AlienWP
Author URI: http://alienwp.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: anissa

Anissa WordPress Theme incorporates code from Underscores and Cerauno WordPress Themes, Copyright 2012-2016 Automattic, Inc
Anissa WordPress Theme is distributed under the terms of the GNU GPL
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}
a {
	background-color: transparent;
}
a:active, a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
 input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
 height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
 input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.8em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
	color: #495762;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #495762;
	font-family: 'Playfair Display', serif;
	line-height: 1.3;
	font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #495762;
}
h1 {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 3.125em;
}
h2 {
	margin-bottom: 15px;
	font-size: 38px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 13px;
	text-transform: uppercase;
}
p {
	margin-bottom: 1.6em;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.6em;
	font-style: italic;
	font-size: 20px;
}
address {
	margin: 0 0 1.6em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 0px;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 300;
	color: #495762;
	line-height: 1.7;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}
ul, ol {
	margin: 0 0 1.6em 2.4em;
	padding: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul, li > ol {
	margin-bottom: 0;
	margin-left: 2.4em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.6em 1.6em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
table {
	border: 1px solid #eee;
	margin: 0 0 1.6em;
	width: 100%;
}
th, td {
	padding: .8em 5px;
}
tr:nth-of-type(2n) {
	background: #f9f9f9;
}
caption {
	font-weight: bold;
	margin: 0 0 .8em;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button.menu-toggle, button.menu-toggle:hover, button.menu-toggle:focus {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2.5px;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	border: 0;
	background: #eee;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2.5px;
	padding: 15px 1.6em;
	text-transform: uppercase;
	transition: 0.2s;
}
.button, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	background-color: #ccd4db;
	border-bottom: 0px!important;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	background-color: #ccd4db;
}
input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="password"], input[type="search"], textarea {
	font-family: 'Merriweather', serif;
	padding: 15px;
	border: 1px solid #eee;
	background: #fff;
	max-width: 100%;
	transition: 0.1s;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
	border-color: #ccc;
	color: #111;
	outline: none;
}
input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="password"], input[type="search"] {
	padding: .8em;
}
.search-form {
	position: relative;
}
input[type="search"].search-field {
	box-sizing: border-box;
	padding-left: 2em;
}
.search-form label:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 1.2em;
	left: .8em;
	-webkit-font-smoothing: antialiased;
}
textarea {
	padding-left: .8em;
	width: 100%;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a, a:visited {
	text-decoration: none;
	color: #495762;
	transition: 0.1s;
}
a:focus, a:hover {
	color: #8193a1;
	text-decoration: none;
}
.entry-datetop a, .entry-datetop a:visited {
	color: #9c9c9c;
}
.entry-summary a, .entry-summary a:visited, .widget a, .widget a:visited, .entry-meta a, .entry-meta a:visited, .entry-footer a, .entry-footer a:visited, .site-footer a, .site-footer a:visited, .entry-title a, .entry-title a:visited, .post-navigation a, .post-navigation a:visited, .posts-navigation a, .posts-navigation a:visited, .comment-navigation a, .comment-navigation a:visited, .widget_authors a strong, .widget_authors a:visited strong {
	border-bottom: 2px solid transparent;
}
.site-footer a, .site-footer a:visited, .entry-meta a, .entry-meta a:visited, .widget_authors a strong, .widget_authors a:visited strong {
	border-bottom-width: 1px;
}
.entry-title a, .entry-title a:visited {
	border-bottom-width: 3px;
}
.entry-content a:focus, .entry-content a:hover, .entry-summary a:focus, .entry-summary a:hover, .widget a:focus, .widget a:hover, .entry-meta a:focus, .entry-meta a:hover, .entry-footer a:focus, .entry-footer a:hover, .site-footer a:focus, .site-footer a:hover, .entry-title a:focus, .entry-title a:hover, .post-navigation a:focus, .post-navigation a:hover, .posts-navigation a:focus, .posts-navigation a:hover, .comment-navigation a:focus, .comment-navigation a:hover, .widget_authors a:focus strong, .widget_authors a:hover strong {
	border-bottom-color: currentColor;
}
.widget_authors > ul > li > a:first-of-type, .widget_authors > ul > li > a:first-of-type:visited, .widget_authors > ul > li > a:first-of-type:hover, .widget_authors > ul > li > a:first-of-type:focus {
	border: 0;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
.entry-content a, .entry-summary a {
	word-wrap: break-word;
}
.widget_text a, .widget_text a:visited {
	color: #8193a1;
}
.entry-content a, .entry-content a:visited {
	color: #8193a1;
	border-bottom: 2px solid #8193a1;
}
.entry-content a:hover, .widget a:hover {
	color: #495762;
	border-bottom: 2px solid #495762;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	border-bottom: 1px solid #eee;
	clear: both;
	display: block;
	margin: 0 auto;
	padding: 1.6em 2.5%;
	text-transform: uppercase;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2.5px;
	max-width: 1200px;
}
.main-navigation > div:first-of-type {
	float: left;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	display: inline-block;
	margin-right: 1.6em;
	position: relative;
}
.main-navigation .menu li:last-of-type {
	margin-right: 0;
}
.main-navigation > div:first-of-type a {
	border-bottom: 2px solid transparent;
	display: block;
}
.main-navigation ul ul {
	background: white;
	border: 1px solid #eee;
	float: left;
	position: absolute;
	top: 1.65em;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	border-bottom: 0;
	margin: 0;
	padding: .8em;
	width: 200px;
}
.main-navigation li:hover > a, .main-navigation li.focus > a {
	border-bottom-color: currentColor;
}
.main-navigation ul ul :hover > a, .main-navigation ul ul .focus > a {
	border-bottom-color: transparent;
}
.main-navigation ul ul a:hover, .main-navigation ul ul a.focus {
	border-bottom-color: transparent;
}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
	top: -1px;
	left: 100%;
}
.main-navigation > div:first-of-type > ul > .current_page_item > a, .main-navigation > div:first-of-type > ul > .current-menu-item > a {
	border-bottom-color: currentColor;
}
.main-navigation ul li.menu-item-has-children, .main-navigation ul li.page_item_has_children {
	margin-right: 3em;
}
.main-navigation ul li.menu-item-has-children > a:after, .main-navigation ul li.page_item_has_children > a:after {
	content: "\f078";
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	display: inline-block;
	height: 100%;
	opacity: 0.4;
	padding-left: .8em;
	position: absolute;
	right: -1.6em;
	top: 3px;
	vertical-align: text-top;
	-webkit-font-smoothing: antialiased;
}
.main-navigation ul ul li.menu-item-has-children > a:after, .main-navigation ul ul li.page_item_has_children > a:after {
	content: "\f054";
	display: inline-block;
	margin-top: 3px;
	margin-left: 10px;
	padding: 0;
	opacity: 0.4;
	position: static;
	vertical-align: text-top;
}
/* Social Links */

.social-links {
	display: none;
	float: right;
	line-height: 1;
}
.social-links li {
	margin-right: 15px;
	font-size: 24px;
}
.social-links li:last-of-type {
	margin-right: 0;
}
.social-links li a:before {
	content: "\f1e0";
	color: #9da4aa;
	font-family: FontAwesome;
	font-size: 21px;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	transition: 0.2s;
	-webkit-font-smoothing: antialiased;
}
.social-links li a:hover:before {
	color: #495762;
}
.social-links li a:hover {
	text-decoration: none;
}
.social-links ul a[href*='wordpress.org']:before, .social-links ul a[href*='wordpress.com']:before {
	content: '\f205';
}
.social-links ul a[href*='facebook.com']:before {
	content: '\f230';
}
.social-links ul a[href*='twitter.com']:before {
	content: '\f099';
}
.social-links ul a[href*='dribbble.com']:before {
	content: '\f17d';
}
.social-links ul a[href*='plus.google.com']:before {
	content: '\f0d5';
}
.social-links ul a[href*='pinterest.com']:before {
	content: '\f231';
}
.social-links ul a[href*='github.com']:before {
	content: '\f09b';
}
.social-links ul a[href*='tumblr.com']:before {
	content: '\f173';
}
.social-links ul a[href*='youtube.com']:before {
	content: '\f16a';
}
.social-links ul a[href*='flickr.com']:before {
	content: '\f16e';
}
.social-links ul a[href*='vimeo.com']:before {
	content: '\f194';
}
.social-links ul a[href*='instagram.com']:before {
	content: '\f16d';
}
.social-links ul a[href*='codepen.io']:before {
	content: '\f1cb';
}
.social-links ul a[href*='linkedin.com']:before {
	content: '\f0e1';
}
.social-links ul a[href*='foursquare.com']:before {
	content: '\f180';
}
.social-links ul a[href*='reddit.com']:before {
	content: '\f1a1';
}
.social-links ul a[href*='digg.com']:before {
	content: '\f1a6';
}
.social-links ul a[href*='stumbleupon.com']:before {
	content: '\f1a4';
}
.social-links ul a[href*='spotify.com']:before {
	content: '\f1a4';
}
.social-links ul a[href*='twitch.tv']:before {
	content: '\f1e8';
}
.social-links ul a[href*='dropbox.com']:before {
	content: '\f16b';
}
.social-links ul a[href*='/feed']:before {
	content: '\f09e';
}
.social-links ul a[href*='skype']:before {
	content: '\f17e';
}
.social-links ul a[href*='mailto']:before {
	content: '\f0e0';
}
.social-links ul a[href*='wordpress.com']:before {
	content: '\f19a';
}
/* Small menu. */
.menu-toggle, .main-navigation.toggled ul, .main-navigation.toggled .social-links {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.menu-toggle {
	font-size: 18px;
}
.menu-toggle:before {
	content: "\f0c9";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin-top: -2px;
	margin-right: 5px;
	position: relative;
	top: -1px;
	text-decoration: none;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: #495762;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	margin: 0 0 1.6em;
	padding: .8em 0;
	overflow: hidden;
}
.meta-nav {
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2.5px;
}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.site-main .comment-navigation a, .site-main .posts-navigation a, .site-main .post-navigation a {
	color: #495762;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin: .8em 1.6em .8em 0;
}
.alignright {
	display: inline;
	float: right;
	margin: .8em 0 .8em 1.6em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: .8em auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .hentry:before, .hentry:after {
	content: "";
	display: table;
}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after, .hentry:after {
	clear: both;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-branding {
	padding: 3.2em 1.6em;
	position: relative;
	text-align: center;
	margin-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 20px solid #343434;
}
.site-title, .site-title a {
	color: #343434;
	line-height: 1;
	margin-top: 0;
	text-decoration: none;
}
.site-description {
	color: #495762;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
.featured-header-image {
	margin: 3.2em auto 0;
	text-align: center;
}
.featured-header-image img {
	width: 100%;
	height: auto;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	font-size: 13px;
	margin: 0 0 3.2em;
}
.sidebar .widget {
	border: 1px solid #eee;
	padding: 20px;
	padding-top: 10px;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
/* Search widget */
.widget_search .search-submit {
	display: none;
}
/* Tags widget */
.tagcloud a, .tagcloud a:visited {
	border: 0;
	background: #eee;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2.5px;
	padding: 5px 5px;
	text-transform: uppercase;
	transition: 0.2s;
	margin: 5px;
	display: inline-block;
}
.tagcloud a:hover {
	background-color: #ccd4db;
	border-bottom: 0px;
}
/* Calendar widget */

.widget_calendar td#next {
	text-align: right;
}
.widget-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.sidebar .widget-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2.5px;
	text-align: center
}
.site-footer .widget-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2.5px;
	text-align: left
}
.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget ul li {
	margin-top: .8em;
	padding-top: .8em;
	border-top: 1px solid #eee;
}
.footer-widgets {
	border-top: 1px solid #eee;
	margin: 1.6em 0;
	padding: 5% 2.5% 0;
}
.footer-widgets .widget-area {
	width: 30%;
	margin-right: 5%;
	overflow: hidden;
	float: left;
}
.footer-widgets .widget-area:last-of-type {
	margin-right: 0;
}
.footer-widgets .social-links li {
	display: inline-block;
	padding-right: 2.5%;
	font-size: 16px;
}
.footer-widgets .social-links li:last-of-type {
	padding-right: 0;
}
.footer-widgets .social-links li a {
	color: #9da4aa;
}
.widget_recent_entries .post-date {
	color: #bbb;
}
.widget_recent_comments tr {
	background: transparent;
	border-top: 1px solid #eee;
}
.widget_recent_comments td {
	padding-top: .8em !important;
	padding-bottom: .8em !important;
}
.widget_authors strong {
	margin-left: 5px;
}
.jetpack-display-remote-posts h4 {
	clear: both;
	display: block;
	font-size: 100% !important;
	border-top: 1px solid #eee;
	padding-top: 1.6em !important;
	margin-top: 1.6em !important;
	margin-bottom: .8em !important;
}
.jetpack-display-remote-posts img {
	margin-bottom: .8em;
}
.jetpack-display-remote-posts p {
	font-size: 100% !important;
}
/* Author widget */

.authorwidget span {
	display: block;
	padding: 0 0 17px 0;
}
.authorwidget span img {
	display: block;
	margin-top: 10px;
}
.authorwidget p em {
	color: #45b583;
	display: inline;
	font-style: normal;
}
.authorwidget ul {
	display: block;
	text-align: center;
}
.authorwidget ul li {
	display: inline-block;
	padding: 0px 8px;
	border: 0;
	margin-bottom: -10px;
	margin-top: -10px;
	padding-bottom: 10px;
}
.authorwidget ul li a {
	display: inline-block;
}
.authorwidget ul li a {
	font-size: 17px;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}
.hentry {
	margin: 1.6em 0 3.8em;
}
.single .hentry, .page .hentry {
	margin-bottom: 0;
}
.byline, .updated:not(.published) {
	display: none;
}
.single .byline, .group-blog .byline {
	display: inline;
}
.page-content, .entry-content {
	width: 70%;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 30px;
}
.post {
	border: 1px solid #eee;
	padding-top: 20px;
}
.page .hentry {
	border: 1px solid #eee;
	padding-top: 20px;
}
.entry-summary {
	width: 70%;
	margin-top: -2px;
	margin-left: 15%;
	margin-right: 15%;
}
.entry-summary p {
	margin: 0;
}
.entry-title {
	color: #495762;
	font-size: 36px;
	margin-top: 0;
	text-transform: none;
	text-align: center;
	margin-bottom: 5px;
}
.entry-title a {
	color: #495762;
	color: #232323
}
.entry-datetop {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2.5px;
	text-align: center;
	margin-bottom: 20px;
	color: #949494;
	text-transform: uppercase
}
.entry-dateslide {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 0px;
	color: #949494;
	text-transform: uppercase
}
.entry-cat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2.5px;
	text-align: center;
	margin-bottom: 20px;
	color: #949494;
	text-transform: uppercase
}
.entry-meta {
	color: #495762;
	width: 18%;
	float: left;
	font-size: 0.813em;
}
.entry-meta a {
	color: #495762;
}
.entry-meta > span {
	clear: both;
	display: inline-block;
	width: 100%;
}
.page-links {
	clear: both;
	margin: 0 0 1.6em;
}
.featured-image {
	width: 100%;
	height: auto;
	margin-bottom: 1.6em;
}
.featured-image img {
	width: 100%;
	height: auto;
}
.more-link {
	display: block;
	border: 1px solid black;
	width: 170px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	border: 0;
	background: #eee;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2.5px;
	padding: 15px 1.6em;
	text-transform: uppercase;
	transition: 0.2s;
}
/* Single posts */

.entry-footer {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	clear: both;
	color: #495762;
	display: block;
	font-size: 13px;
	margin: 0 0 1.6em;
	padding: 0.8em 0;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	padding-left: 30px;
	padding-right: 30px;
}
.entry-footer a {
	color: #495762;
}
.entry-footer-wrapper {
	float: left;
	max-width: 85%;
}
.entry-footer-wrapper > span, .entry-footer .edit-link {
	display: inline-block;
	margin-right: 1.6em;
	font-family: FontAwesome;
}
span.edit-link:before {
	font-family: FontAwesome;
}
.entry-footer-wrapper > span:before, .entry-footer .edit-link:before, .comment-reply-link:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	margin-top: -2px;
	margin-right: 7px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}
.entry-footer .tags-links:before {
	content: "\f02b";
}
.entry-footer .cat-links:before {
	content: "\f07c";
}
.entry-footer .byline:before {
	content: "\f007";
}
.entry-footer .posted-on:before {
	content: "\f017";
}
.entry-footer .edit-link:before, .comment-list .edit-link:before {
	content: "\f040";
}
.comment-reply-link:before {
	content: "\f086";
}
.entry-footer .edit-link {
	float: right;
	margin-right: 0;
}
.page-header {
	border-bottom: 1px solid #eee;
	margin: 5% 0;
	padding-bottom: .8em;
}
.page-title {
	font-size: 28px;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-body {
	border-top: 1px solid #eee;
	margin-top: 1.6em;
	padding-top: 1.6em;
}
.comment-list .children {
	list-style: none;
	margin-left: 1.6em;
	padding: 0;
}
.comment-author {
	padding-top: 1.6em;
}
.says {
	display: none;
}
.comment-metadata {
	font-size: 13px;
}
.comment-metadata a {
	font-weight: normal;
}
.comment .edit-link {
	margin-left: .8em;
}
.comment-list .avatar {
	float: left;
	margin-right: 1.6em;
	margin-top: -.8em;
	border-radius: 50%;
}
.comment-reply-link {
	margin-left: .8em;
}
.comment-content {
	clear: both;
}
.comments-title {
	font-size: 24px;
}
.no-comments {
	margin: 1.6em auto;
	text-align: center;
}
.comment-respond {
	border-top: 1px solid #eee;
	margin-top: 1.6em;
}
.form-allowed-tags, .form-allowed-tags code {
	font-size: 90%;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */ .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
#infinite-handle span {
	border: 0;
	background: #eee;
	color: inherit;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	line-height: 1;
	padding: 15px 1.6em;
	text-align: center;
	text-transform: uppercase;
	transition: 0.2s;
}
#infinite-handle span:hover {
	background-color: #ccd4db;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
	max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	font-size: 13px;
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	display: block;
}
/*=Layout
---------------------------------------------------------------------------*/

.site-content {
	border-top: 1px solid #eee;
	margin: 0 auto 1.6em;
	padding: 1.6em 2.5% 0;
}
.site-main {
	float: left;
	width: 70%;
}

.page-template-nosidebar-page-php .site-main {
	float:none;
	width:100%
}
.page-template-nosidebar-page-php .site-main {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.sidebar {
	margin-top: 25px;
	margin-left: 3.75%;
	overflow: hidden;
	width: 26%;
	float: right;
}
.site-info {
	border-top: 1px solid #eee;
	font-size: 13px;
	margin: 1.6em 0 0;
	padding: 2.5%;
	text-align: center;
}
.site-info a {
	font-weight: normal;
}
/*=Slider
---------------------------------------------------------------------------*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
/*=Slider Theme
---------------------------------------------------------------------------*/

.owl-theme .owl-controls {
	margin-top: 5px;
	text-align: center;
}
#slider .attachment-carousel-pic {
	max-height: 200px;
	overflow: hidden;
}
#slider h3 {
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
#slider .item {
	margin: 15px;
}
#slider {
	margin-top: -7px;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/*=Sharing Buttons
---------------------------------------------------------------------------*/
.sharingbuttons {
	text-align: center;
	margin-top: 20px;
}
.resp-sharing-button {
	display: inline-block;
	border-radius: 3px;
	border-width: 0px;
	border-style: solid;
	transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
	width: 24px;
	height: 24px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-right: 3px;
}
.resp-sharing-button a {
	text-decoration: none;
	color: #000;
	display: block;
}
.resp-sharing-button__icon {
	display: inline-block;
}
.resp-sharing-button__icon svg {
	width: 1em;
	height: 1em;
	margin-bottom: -0.1em;
}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {
	stroke: #fff;
	fill: none;
}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid, .resp-sharing-button__icon--solidcircle {
	fill: #7b7b7b;
	stroke: none;
	display: block
}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid:hover, .resp-sharing-button__icon--solidcircle:hover {
	fill: #fff;
	stroke: none;
}
.resp-sharing-button__link {
	text-decoration: none;
	color: #000;
}
.resp-sharing-button--large .resp-sharing-button__icon svg {
	padding-right: 0.4em;
}
.resp-sharing-button__wrapper {
	display: inline-block;
}
.resp-sharing-button--facebook {
	background-color: #eeeeee;
}
.resp-sharing-button--facebook:hover, .resp-sharing-button--facebook:active {
	background-color: #2d4373;
}
.resp-sharing-button--twitter {
	background-color: #eeeeee;
}
.resp-sharing-button--twitter:hover, .resp-sharing-button--twitter:active {
	background-color: #2795e9;
}
.resp-sharing-button--google {
	background-color: #eeeeee;
}
.resp-sharing-button--google:hover, .resp-sharing-button--google:active {
	background-color: #c23321;
}
.resp-sharing-button--tumblr {
	background-color: #eeeeee;
}
.resp-sharing-button--tumblr:hover, .resp-sharing-button--tumblr:active {
	background-color: #222d3c;
}
.resp-sharing-button--pinterest {
	background-color: #eeeeee;
}
.resp-sharing-button--pinterest:hover, .resp-sharing-button--pinterest:active {
	background-color: #a01a1f;
}
/*=WooCommerce
---------------------------------------------------------------------------*/

.woocommerce .entry-summary {
	margin-left: 0%;
	margin-right: 0%;
}
.woocommerce .description {
	margin-bottom: 30px;
}
div[itemprop="description"] {
	margin-bottom: 30px;
	margin-top: 20px;
}
.woocommerce .product_title {
	text-align: left;
}
.woocommerce-checkout .sidebar, .woocommerce-cart .sidebar {
	display: none
}
.woocommerce-checkout .site-main, .woocommerce-cart .site-main {
	float: none;
	width: 100%;
}
.woocommerce .cart_totals h2, .woocommerce .cross-sells h2 {
	font-size: 20px;
}
.woocommerce #order_comments {
	height: 300px;
}

/*=Media Queries
---------------------------------------------------------------------------*/


@media screen and (min-width: 1101px) and (max-width: 1200px) {
.entry-meta {
	margin-top: 1.6em;
	width: 100%;
}
.entry-meta > span {
	display: inline-block;
	padding-right: .8em;
	width: auto;
}
.entry-meta > span:last-of-type {
	padding-right: 0;
}
}

@media screen and (max-width: 1100px) {
.site-main {
	width: 71.5%;
}
.sidebar {
	width: 24%;
}
}

@media screen and (min-width: 751px) and (max-width: 950px) {
.site-branding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.hentry {
	margin: 10% 0;
}
.entry-summary {
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}
.entry-meta {
	margin-top: 1.6em;
	width: 100%;
}
.entry-meta > span {
	display: inline-block;
	padding-right: 1.6em;
	width: auto;
}
.entry-meta > span:last-of-type {
	padding-right: 0;
}
.entry-meta ul li {
	display: inline-block;
	padding-right: 15px;
}
.entry-meta ul li:last-of-type {
	padding-right: 0;
}
.entry-summary {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
}

@media screen and (max-width: 750px) {
.site-branding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.site-main {
	width: 100%;
}
.sidebar {
	clear: both;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.sidebar .widget {
	width: 48%;
	margin-right: 4%;
	float: left;
}
.sidebar .widget:nth-of-type(2n+1) {
	clear: left;
}
.sidebar .widget:nth-of-type(2n) {
	clear: right;
	margin-right: 0;
}
.footer-widgets .widget-area {
	width: 48%;
	margin-right: 4%;
}
.footer-widgets .widget-area:nth-of-type(2n) {
	clear: right;
	margin-right: 0;
}
.site-main .comment-navigation,  .site-main .posts-navigation,  .site-main .post-navigation {
	font-size: 18px;
}
.comment-navigation .nav-previous,  .posts-navigation .nav-previous,  .post-navigation .nav-previous {
	border-bottom: 1px solid #eee;
	clear: both;
	float: none;
	margin-bottom: .8em;
	padding-bottom: .8em;
	width: 100%;
}
.comment-navigation .nav-next,  .posts-navigation .nav-next,  .post-navigation .nav-next {
	clear: both;
	float: none;
	text-align: right;
	width: 100%;
}
}

@media screen and (max-width: 650px) {
.site-branding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.hentry {
	margin: 10% 0;
}
.entry-summary {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.entry-meta {
	margin-top: 1.6em;
	width: 100%;
}
.entry-meta > span {
	display: inline-block;
	padding-right: 1.6em;
	width: auto;
}
.entry-meta > span:last-of-type {
	padding-right: 0;
}
.entry-footer-wrapper > span,  .entry-footer .edit-link {
	clear: both;
	display: block;
	float: none;
	margin-right: 0;
	margin-bottom: .8em;
	width: 100%;
}
.entry-footer {
	padding-bottom: 0;
}
.single .byline,  .single .group-blog .byline {
	display: block;
}
h1 {
	text-transform: uppercase;
	font-size: 38px;
}
h2 {
	margin-bottom: 15px;
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 13px;
	text-transform: uppercase;
}
h6 {
	font-size: 12px;
	text-transform: uppercase;
}
.entry-title {
	font-size: 28px;
}
}

@media screen and (max-width: 550px) {
.site-branding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.site-content,  .footer-widgets,  .site-info {
	padding-left: 5%;
	padding-right: 5%;
}
.sidebar .widget,  .footer-widgets .widget {
	width: 100%;
}
.social-links {
	float: left;
	margin-top: .8em;
}
.entry-meta {
	margin-top: 1.6em;
	width: 100%;
}
.entry-meta > span {
	display: inline-block;
	padding-right: 1.6em;
	width: auto;
}
.entry-meta > span:last-of-type {
	padding-right: 0;
}
.entry-footer > span {
	display: block;
	clear: both;
	float: none;
}
.footer-widgets .widget-area {
	width: 100%;
	margin-right: auto;
}
.entry-summary {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
}

@media screen and (max-width: 37.5em) {
.site-branding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.main-navigation {
	padding: 0;
}
.main-navigation > div:first-of-type {
	float: none;
}
.main-navigation > div:first-of-type a,  .main-navigation ul ul a {
	border-top: 1px solid #eee;
	padding: 1.25em;
	width: 100%;
}
.main-navigation > div:first-of-type ul ul a {
	padding-left: 2.05em;
}
.main-navigation > div:first-of-type ul ul ul a {
	padding-left: 2.85em;
}
.main-navigation > div:first-of-type ul ul ul ul a {
	padding-left: 3.65em;
}
.main-navigation ul li.menu-item-has-children > a:after,  .main-navigation ul li.page_item_has_children > a:after,  .main-navigation ul ul li.menu-item-has-children > a:after,  .main-navigation ul ul li.page_item_has_children > a:after {
	display: none;
}
.main-navigation > div:first-of-type li {
	clear: both;
	float: none;
	padding: 0;
	width: 100%;
}
.main-navigation ul ul,  .main-navigation ul ul ul,  .main-navigation ul ul ul ul {
	border: 0;
	clear: both;
	display: block;
	padding: 0;
	position: relative;
	top: auto;
	left: auto;
	width: 100%;
}
.main-navigation ul ul li:hover > ul,  .main-navigation ul ul li.focus > ul {
	left: auto;
}
.social-links {
	clear: both;
	border-top: 1px solid #eee;
	padding: .8em 1.6em;
	width: 100%;
}
}

@media screen and (min-width: 37.5em) {
.menu-toggle {
	display: none;
}
.main-navigation ul,  .social-links {
	display: block;
}
}