/*
Theme Name: Divin
Theme URI: https://catchthemes.com/themes/divin/
Author: Catch Themes
Author URI: http://catchthemes.com/
Description: Divin - A Free Blog and Corporate WordPress theme has been especially crafted to put your website in the limelight by focusing more on the content area. It has been made with care for customizing with zero need of programming and coding. It is designed for clarity with clean typography. Divin is an incredibly beautiful and profoundly clean yet stylish, minimal and uncluttered, aesthetically tasteful WordPress theme that fits perfectly for any blog and corporate website. It provides you with vast range of crucial features that is needed to create an elegant-looking blog and corporate website. The theme is extremely responsive and adaptable to all screens and browsers. This free blog and corporate WordPress theme provides you the perfect online niche that is dynamic, multifunctional and straight. The theme is translation ready. For more details, check out the Theme Instructions at https://catchthemes.com/theme-instructions/divin/ and Support forum at https://catchthemes.com/support-forum/forum/divin-free/.
Version: 2.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-image-header, featured-images, footer-widgets, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, portfolio, photography
Text Domain: divin
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Icons
7.0 Elements
8.0 Forms
9.0 Navigation
    9.1 Links
    9.2 Menus
    9.3 Social Menu
    9.4 Footer Menu
    9.5 Content Navigation
    9.6 Breadcrumb
    9.7 Scroll Up
10.0 Featured Image Hover
11.0 Layout
    11.1 Header
    11.2 Content
    11.3 Sidebar
    11.4 Footer
12.0 Media
    12.1 Caption
    12.1 Galleries
13.0 - Widgets
14.0 - Comments
15.0 - Modules
    15.1 - Slider
    15.2 - Featured Content, Portfolio, Service & Testimonials
    15.3 - Hero Content
    15.4 - Others
16.0 - Media Queries
    16.1 - >= 737px
    16.2 - >= 768px (iPad Portrait)
    16.3 - >= 906px (iPad, Nexus7 Landscape)
    16.4 - >= 985px
    16.5 - >= 1152px
17.0 - Print styles
*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
select,
textarea {
    max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}

fieldset > :last-child {
    margin-bottom: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text,
.section-content-wrapper .date-label {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

blockquote.alignleft {
    margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
    margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
    margin-bottom: 1.473684211em;
}

/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.section:before,
.section:after,
.site-content-wrapper:before,
.site-content-wrapper:after,
.section-content-wrapper:before,
.section-content-wrapper:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after,
.footer-widget-wrapper:before,
.footer-widget-wrapper:after,
.social-menu:before,
.social-menu:after,
.ads-image-wrap:before,
.ads-image-wrap:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.section:after,
.site-content-wrapper:after,
.section-content-wrapper:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after,
.footer-widget-wrapper:after,
.social-menu:after,
.ads-image-wrap:after {
    clear: both;
}

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #5e5e5e;
    font-family: 'Cousine', monospace;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 700;
    line-height: 1.3125;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.2173913043;
    margin-top: 2.4347826087em;
    margin-bottom: 1.2173913043em;
}

h3 {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.1052631579;
    margin-top: 2.9473684211em;
    margin-bottom: 1.4736842105em;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin-top: 3.5em;
    margin-bottom: 1.75em;
}

h4 {
    letter-spacing: 0.140625em;
    text-transform: uppercase;
}

h6 {
    font-style: italic;
}

.site-content-wrapper .content-area .entry-title,
.woocommerce-products-header .page-title {
    font-size: 32px;
    font-size: 2rem;
}

.singular-content-wrapper .site-main .entry-title {
    text-align: center;
}

.search-results .singular-content-wrapper .site-main .entry-title,
.woocommerce div.product .product_title {
    text-align: left;
}

.archive-post-wrapper .entry-title {
    line-height: 1.8;
}

.section-content-wrapper .entry-title,
.comments-title {
    font-size: 19px;
    font-size: 1.1875rem;
}

p {
    margin: 0 0 1.75em;
    padding: 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    border: 0 solid #ffeb3b;
    border-left-width: 4px;
    font-size: 19px;
    font-size: 1.1875rem;
    font-style: italic;
    line-height: 1.4736842105;
    margin: 0 0 1.4736842105em;
    overflow: hidden;
    padding: 0 0 0 1.263157895em;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote p {
    margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
    display: block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
    content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

blockquote > :last-child {
    margin-bottom: 0;
}

address {
    font-style: italic;
    margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #e8e6e6;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: #ffeb3b;
    padding: 0.125em 0.25em;
}

abbr,
acronym {
    border-bottom: 1px dotted #5e5e5e;
    cursor: help;
}

mark,
ins {
    background: #ffeb3b;
    padding: 0.125em 0.25em;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
6.0 Icons
--------------------------------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative; /* Align more nicely with capital letters */
    top: -0.10em;
    vertical-align: middle;
    width: 1em;
}

.social-menu .icon,
.widget.ctsocialwidget .icon {
    width: 18px;
    height: 18px;
    top: 0;
}

/*--------------------------------------------------------------
7.0 Elements
--------------------------------------------------------------*/

hr {
    background-color: #e8e6e6;
    border: none;
    height: 1px;
    margin: 0 0 1.75em;
}

ul,
ol {
    margin: 0 0 1.75em 1.25em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
    margin-left: 1.5em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1.75em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

del {
    opacity: 0.8;
}

table,
caption,
th,
td {
    border: 1px solid #5e5e5e;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption {
    border-width: 1px 1px 0 1px;
    font-weight: 700;
    text-align: center;
}

th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

caption,
th,
td {
    padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: #686868;
    font-family: 'Cousine', monospace;
}

:-moz-placeholder {
    color: #686868;
    font-family: 'Cousine', monospace;
}

::-moz-placeholder {
    color: #686868;
    font-family: 'Cousine', monospace;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: #686868;
    font-family: 'Cousine', monospace;
}

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}

/*--------------------------------------------------------------
8.0 Forms
--------------------------------------------------------------*/

input {
    line-height: normal;
}

button,
.button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.more-link .more-button,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background-color: #000;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-size: 0.75rem;
    letter-spacing: 0.15em;
    line-height: 1;
    outline: 0;
    padding: 14px 24px;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.more-link:hover .more-button,
.more-link:focus .more-button,
.woocommerce div.product form.cart .button:hover,
.woocommerce div.product form.cart .button:focus,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus {
    background-color: #5e5e5e;
    border: none;
    color: #fff;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    background-color: #fff;
    border: 1px solid #e8e6e6;
    border-radius: 1px;
    padding: 0.625em 0.4375em;
    width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #ffeb3b;
    transition: all 0.1s ease-in-out;
    outline: 0;
}

select {
    background-color: #fff;
    border: 1px solid #e8e6e6;
    border-radius: 1px;
    max-width: 100%;
    padding: 0.625em 0.4375em;
}

.post-password-form {
    margin-bottom: 1.75em;
}

.post-password-form label {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}

.post-password-form input[type="password"] {
    margin-top: 0.4375em;
}

.post-password-form > :last-child {
    margin-bottom: 0;
}

.search-form {
    position: relative;
}

.site-main .search-form {
    margin: 0 0 1.75em;
}

.search-form .search-submit {
    bottom: 3px;
    padding: 0.5em 1em;
    position: absolute;
    right: 3px;
    top: 3px;
}

.search-form .search-submit .icon {
    height: 18px;
    top: -1px;
    width: 18px;
}

/*--------------------------------------------------------------
9.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
9.1 Links
--------------------------------------------------------------*/

a {
    color: #5e5e5e;
    border-bottom: 4px solid #ffeb3b;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover,
a:focus,
a:active {
    border-bottom: 4px solid #0fc;
}

a.post-thumbnail,
.post-thumbnail a {
    border: none;
}

.comment-reply-link:after {
    content: '↓';
    padding-left: 5px;
}

.nav-next a:after {
     content: '»';
     padding-left: 5px;
}

.nav-previous a:before {
     content: '«';
     padding-right: 5px;
}

/*--------------------------------------------------------------
9.2 Menus
--------------------------------------------------------------*/

.site-header-menu {
    display: none;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 1.5em 0;
}

.menu-toggle .icon {
    margin-right: 5px;
}

.site-navigation {
    font-size: 15px;
    font-size: 0.9375rem;
    letter-spacing: 0.05em;
}

.site-navigation .menu-item-has-children > a,
.site-navigation .page_item_has_children > a {
    margin-right: 44px;
}

.site-navigation .menu-item-has-children > a > .icon,
.site-navigation .page_item_has_children > a > .icon,
.site-navigation ul a > .icon {
    display: none;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    border-top: 1px solid #5e5e5e;
    list-style-type: none;
    position: relative;
}

.site-navigation a {
    border: none;
    color: #242424;
    display: block;
    font-weight: 700;
    margin: 0;
    padding: 7px 0;
    text-transform: uppercase;
}

.site-navigation a:hover {
    opacity: 0.5;
}

.site-navigation ul ul {
    display: none;
    margin-left: 10px;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #242424;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
    width: 42px;
    height: 42px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    border: none;
}

.dropdown-toggle .icon {
    height: 24px;
    width: 24px;
    top: -5px;
    right: 10px;
}

.dropdown-toggle.toggled-on .icon {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}

.menu-toggle {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 21px auto 0;
    padding: 16px 20px 14px;
}

.menu-footer-toggle {
    margin-bottom: 21px;
}

.toggled-on.menu-toggle .icon-bars,
.menu-toggle .icon-close,
.menu-toggle .menu-label-prefix {
    display: none;
}

.toggled-on.menu-toggle .icon-close {
    display: inline-block;
}

#footer-menu-section {
    display: none;
}

.site-header-menu.toggled-on,
.site-navigation ul ul.toggled-on,
#footer-menu-section.toggled-on,
.no-js .site-header-menu {
    display: block;
}

/*--------------------------------------------------------------
9.3 Social Menu
--------------------------------------------------------------*/

.social-menu .wrapper {
    border-bottom: 4px solid #fff;
    text-align: center;
}

.social-menu ul,
.widget.ctsocialwidget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-menu ul li,
.widget.ctsocialwidget li {
    border: none;
    display: inline-block;
    list-style: none;
    margin: 3px;
    padding: 0;
}

.social-menu ul a,
.widget.ctsocialwidget ul a {
    border: 3px solid;
    border-radius: 50%;
    display: inline-block;
    height: 33px;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 33px;
}

.social-menu ul a:hover,
.social-menu ul a:focus {
    text-decoration: none;
}

.social-menu ul:last-of-type,
.widget.ctsocialwidget ul:last-of-type {
    margin-right: 0;
}

.site-footer .social-navigation {
    margin: 35px auto;
}

/*--------------------------------------------------------------
9.4 Footer Menu
--------------------------------------------------------------*/

.site-footer-menu .wrapper {
    background-color: #ffeb3b;
    text-align: center;
}

.footer-navigation {
    padding: 10px 25px;
    width: 100%;
}

.footer-navigation ul {
    list-style-type: none;
    margin: 0 0 21px;
    padding: 0;
    text-align: left;
}

.footer-navigation li {
    border-top: 1px solid #5e5e5e;
}

.footer-navigation ul li a {
    color: #242424;
    display: block;
    font-weight: 400;
    padding: 7px 0;
    text-decoration: none;
    text-transform: none;
}

.footer-navigation ul li a,
.footer-navigation ul li a:hover,
.footer-navigation ul li a:focus {
    border: none;
}

/*--------------------------------------------------------------
9.5 Content Navigation
--------------------------------------------------------------*/

.nav-next {
    display: inline-block;
    float: right;
    padding: 0 0 35px 20px;
    text-align: left;
    vertical-align: middle;
}

.nav-previous {
    display: inline-block;
    float: left;
    padding: 0 20px 35px 0;
    text-align: right;
    vertical-align: middle;
}

#infinite-handle {
    text-align: center;
}

.site-main #infinite-handle span {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
}

.site-main #infinite-handle span button {
    background-color: #000;
    display: inline;
    font-size: 12px;
    font-size: 0.75rem;
    border-radius: 1px;
    padding: 14px 24px;
    letter-spacing: 0.15em;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}

.site-main #infinite-handle span button:hover,
.site-main #infinite-handle span button:focus {
    background-color: #5e5e5e;
    color: #fff;
}

/*--------------------------------------------------------------
9.6 Breadcrumb
--------------------------------------------------------------*/

.breadcrumb-area {
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #e8e6e6;
}

.entry-breadcrumbs,
#page .woocommerce-breadcrumb {
    margin: 0;
    padding: 21px 55px;
}

.entry-breadcrumbs a,
#page .woocommerce-breadcrumb a {
    border: none;
    color: #5e5e5e;
    position: relative;
    margin-right: 20px;
    font-weight: 700;
}

.entry-breadcrumbs a:hover,
.entry-breadcrumbs a:focus,
#page .woocommerce-breadcrumb a:hover,
#page .woocommerce-breadcrumb a:focus {
    opacity: 0.8;
}

.entry-breadcrumbs a:after,
#page .woocommerce-breadcrumb a:after {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #e8e6e6;
    content: '';
    display: block;
    margin-top: -6px;
    position: absolute;
    right: -12px;
    top: 50%;
}

/*--------------------------------------------------------------
9.7 Scroll Up
--------------------------------------------------------------*/

#scrollup {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 7px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    width: 35px;
    height: 35px;
    z-index: 9999;
}

#scrollup:hover,
#scrollup:focus {
    background-color: #5e5e5e;
    color: #fff;
    text-decoration: none;
}

#scrollup .icon {
    font-size: 28px;
    font-size: 1.75rem;
    width: 22px;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}

/*--------------------------------------------------------------
10.0 Featured Image Hover
--------------------------------------------------------------*/

.post-thumbnail img {
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.post-thumbnail:hover img,
.post-thumbnail:focus img {
    opacity: 0.7;
}

/*--------------------------------------------------------------
11.0 Layout
--------------------------------------------------------------*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #f0f0f0;
}

#page {
    position: relative;
    word-wrap: break-word;
}

.site-main {
    margin: 0 auto;
}

.site-main > :last-child {
    margin-bottom: 0;
}

.wrapper,
.boxed-layout .site-inner {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.boxed-layout .wrapper {
    width: 100%;
}

.boxed-layout .site-header,
.boxed-layout .footer-area .social-navigation,
.boxed-layout .site-info {
    padding-left: 35px;
    padding-right: 35px;
}

/*--------------------------------------------------------------
11.1 Header
--------------------------------------------------------------*/

.site-header {
    background-color: #ffeb3b;
    padding: 35px;
}

.site-header-main {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.site-branding {
    margin-right: auto;
    /* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
    max-width: 100%;
    min-width: 0;
    text-align: center;
    width: 100%;
}

.site-branding .custom-logo-link {
    border: none;
}

.wp-custom-logo .site-identity {
    margin-top: 21px;
}

.wp-custom-logo .site-branding {
    text-align: center;
}

.site-title {
    display: block;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.2;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.site-title a {
    color: #242424;
    padding-bottom: 1px;
}

.site-title:first-letter {
    border-bottom: 4px solid #242424;
    padding-bottom: 1px;
}

.custom-header {
    clear: both;
    display: block;
    position: relative;
    z-index: 1;
}

.custom-header-content {
    text-align: center;
    padding: 100px 35px;
    position: relative;
    word-wrap: break-word;
    z-index: 199;
}

.custom-header-media img {
    display: none;
}

.no-tagline .custom-header-media img {
    display: block;
}

.custom-header-media video,
.custom-header-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
    .custom-header-media video,
    .custom-header-media iframe {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        top: 0;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
        width: 100%;
    }
}

.wp-custom-header-video-button {
    background-color: #000;
    color: #fff;
    border: none;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1;
    margin: 0 auto;
    padding: 12px 13px;
    position: absolute;
    bottom: 30px;
    left: 48.3%;
    text-align: center;
    z-index: 299;
}

.wp-custom-header-video-button:hover,
.wp-custom-header-video-button:focus {
    background-color: #5e5e5e;
    border: none;
    color: #fff;
}

.site-description {
    color: #242424;
    background-color: #fff;
    border: 1px solid #242424;
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.25;
    margin: 0;
    max-width: 100%;
    padding: 21px 35px;
}

/*--------------------------------------------------------------
11.2 Content
--------------------------------------------------------------*/

.below-site-header {
    clear: both;
    position: relative;
    z-index: 2;
}

.below-site-header .wrapper {
    background-color: #fff;
    box-shadow: 0px -10px 0 rgba(0, 0, 0, .1);
}

.site-content {
    word-wrap: break-word;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.page-title {
    font-size: 18px;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.site-main .sticky {
    background-color: #f8f8f8;
    display: block;
}

.site-main .sticky .archive-post-wrapper {
    margin-top: 20px;
    padding: 0 30px 20px 30px;
}

.site-main .sticky .archive-post-wrapper .post-thumbnail {
    margin-left: -30px;
    margin-right: -30px;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.entry-summary {
    width: 100%;
}

.site-main .post-thumbnail {
    clear: both;
    display: block;
    margin: 0 auto 35px auto;
    position: relative;
    text-align: center;
}

.archive-post-wrapper {
    border-bottom: 1px solid #e8e6e6;
    margin-bottom: 35px;
    padding: 20px 0;
}

.archive-post-wrapper.section {
    border: none;
}

.entry-footer {
    clear: both;
    display: block;
    width: 100%;
}

.archive-post-wrapper .entry-footer {
    margin: 35px 0;
}

.archive-post-wrapper .posted-on a {
    display: inline-block;
}

.entry-meta a {
    opacity: 0.8;
}

.entry-meta a:hover,
.entry-meta a:focus {
    opacity: 1;
}

.site-content-wrapper {
    padding: 15px;
}

.entry-content,
.entry-summary {
    margin-bottom: 35px;
}

.singular-content-wrapper .entry-content,
.singular-content-wrapper .entry-summary {
    margin-bottom: 55px;
}

.widget .entry-content,
.widget .entry-summary {
    margin-bottom: 0;
}

.singular-content-wrapper .entry-footer {
    border-top: 1px solid #e8e6e6;
    text-align: center;
}

.singular-content-wrapper .entry-footer .cat-links,
.singular-content-wrapper .entry-footer .tags-links,
.singular-content-wrapper .entry-footer .edit-link,
.attachment .attachment-meta,
.attachment .full-size-link {
    display: block;
    margin: 35px 0;
}

.site-content-wrapper .sidebar {
    padding-top: 14px;
}

.site-content-wrapper .widget {
    padding: 35px 0;
    margin: 0 20px;
}

.site-content-wrapper .content-area {
    padding: 20px;
}

.singular-content-wrapper .hentry {
    border-bottom: 1px solid #e8e6e6;
    margin-bottom: 35px;
}

.single-post .site-main .entry-title {
    background-color: #ffeb3b;
    padding: 10px 15px;
    text-transform: none;
}

.edit-link {
    clear: both;
    display: block;
}

.archive-post-wrapper .edit-link {
    display: inline-block;
    margin-left: 15px;
}

.full-width-layout .edit-link {
    display: block;
    margin: 0;
}

.archive-post-wrapper .entry-title,
.archive-post-wrapper .entry-meta {
    margin-bottom: 35px;
}

.singular-content-wrapper .site-main .entry-meta {
    margin-bottom: 35px;
}

.page-links {
    clear: both;
}

.content-area {
    clear: both;
    display: block;
    margin: 0;
    width: 100%;
}

.author-meta img {
    border: 2px solid #e8e6e6;
    margin-bottom: 10px;
    text-align: center;
}

.author-meta {
    font-size: 13px;
    font-size: 0.8125rem;
    margin-bottom: 10px;
    text-align: center;
}

.no-posts .site-content-wrapper {
    min-height: 200px;
    text-align: center;
}

.link-more {
    text-align: center;
}

.more-link {
    border: none;
    display: block;
    font-size: 11px;
    font-size: 0.6875rem;
    letter-spacing: 0.2em;
    margin-top: 28px;
    text-transform: uppercase;
    white-space: nowrap;
}

.more-link:hover,
.more-link:focus {
    border: none;
}

.more-button {
    display: inline-block;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*--------------------------------------------------------------
11.3 Sidebar
--------------------------------------------------------------*/

.sidebar {
    margin-bottom: 3.5em;
}

/*--------------------------------------------------------------
11.4 Footer
--------------------------------------------------------------*/

.footer-widget-wrapper {
    background-color: #fff;
    border-top: 1px solid #e8e6e6;
    padding: 15px;
}

.footer-widget-wrapper .widget {
    border-bottom: none;
    padding: 0 0 35px;
    margin: 0 0 5px;
}

.footer-widget-wrapper .widget:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.site-footer .widget-column {
    float: left;
    padding: 20px;
    position: relative;
    width: 100%;
}

.footer-area {
    background-color: #333;
    color: #fff;
    vertical-align: middle;
}

.footer-area a {
    border: none;
    color: #fff;
}

.footer-area a:hover,
.footer-area a:focus {
    opacity: 0.5;
}

.site-credits {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 21px 0;
    width: 100%;
}

.title {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 14px 0;
}

.description {
    font-size: 16px;
    font-size: 1rem;
    margin: 14px 0;
}

.title,
.description,
.copyright,
.powered {
    clear: both;
    text-align: center;
}

.copyright,
.powered {
    margin: 14px 0;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {

    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
    display: block;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
    height: auto;
    /* Make sure images are scaled correctly. */
    margin-bottom: 1.75em;
    max-width: 100%;
    vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
    margin-bottom: 0;
}

/*
 * Google maps image fix.
 */

img[src*="maps.gstatic.com"],
img[src*="googleapis.com"] {
    max-width: none;
}

figure {
    margin: 0;
    padding: 0;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
    margin-top: 0;
    margin-bottom: 1.75em;
}

.wp-playlist.wp-audio-playlist {
    padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
    margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
    border-bottom: 0;
    padding: 0.7142857143em 0;
}

.wp-playlist-item .wp-playlist-item-length {
    top: 0.7142857143em;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.75em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption .wp-caption-text {
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 0.5384615385em;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/

.gallery {
    margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

.gallery-icon img {
    margin: 0 auto;
}

/*--------------------------------------------------------------
13.0 - Widgets
--------------------------------------------------------------*/

.widget {
    border-bottom: 5px solid #5e5e5e;
    margin: 0 0 1.5em;
    padding-bottom: 15px;
    padding-top: 15px;
}

.widget a {
    border-bottom: none;
}

.widget a:hover,
.widget a:hover {
    opacity: 0.8;
}

.widget,
.widget-title,
.widget .entry-title  {
    font-size: 16px;
    font-size: 1rem;
}

.widget .entry-meta {
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0;
    text-align: left;
}

.widget .hentry {
    width: 100%;
    float: left;
}
.widget ul {
    list-style: none;
    margin-left: 0;
}

.widget ul ul {
    margin-left: 15px;
}

.widget li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e6e6;
}

.widget ul ul {
    margin-left: 10px;
}

.widget ul ul li:first-child {
    margin-top: 10px;
    border-top: 1px solid #e8e6e6;
}

.widget > ul > li:first-child {
    padding-top: 0;
}

.widget li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.widget-area {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Make sure select elements fit in widgets */
.widget select {
    max-width: 100%;
}

.widget_archive select {
    width: 100%;
}

.widget-title {
    background-color: #e8e6e6;
    border: 1px solid #5e5e5e;
    color: #242424;
    margin-bottom: 28px;
    padding: 10px 15px;
    text-align: center;
}

.widget-title a {
    border: none;
}

.widget .widget-title:empty {
    margin-bottom: 0;
}

/* Categories widget */
.widget_categories ul,
.widget_archive ul {
    text-align: right;
}

.widget_categories li,
.widget_archive li {
    display: block;
    height: 1%;
    overflow: hidden;
}

.widget_categories ul a,
.widget_archive ul a {
    float: left;
}

/* Calendar widget */
.widget.widget_calendar table {
    margin: 0;
}

.widget_calendar td,
.widget_calendar th {
    line-height: 2.5625;
    padding: 0;
    text-align: center;
}

.widget_calendar tbody a {
    background-color: #000;
    color: #fff;
    display: block;
    font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
    background-color: #5e5e5e;
    color: #fff;
}

/* Recent Posts widget */
.widget-area .gallery {
    margin: 0;
}

.widget_recent_entries .post-date {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.615384615;
    margin-bottom: 0.538461538em;
}

.widget_recent_entries li:last-child .post-date {
    margin-bottom: 0;
}

/* RSS widget */
.widget_rss .rsswidget img {
    margin-top: -0.375em;
}

.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: normal;
    line-height: 1.615384615;
    margin: 7px 0;
}

.widget_rss .rssSummary {
    margin: 21px 0;
}

.widget_rss .rssSummary:last-child {
    margin-bottom: 2.1538461538em;
}

.widget_rss li:last-child :last-child {
    margin-bottom: 0;
}

.widget.widget_rss li {
    padding: 21px 0;
}

/* Advertisement Image Widget */
.ct-advertisement-image .ads-image {
    text-align: center;
}

.ct-advertisement-image .ads-image a {
    display: inline-block;
    margin: 0 auto;
}

.ct-advertisement-image .ads-image img {
    display: block;
}

.ctadvertisement .ads-image-wrap {
    text-align: center;
}

/* Featured Post-Page-Embed Widget */
.ctadvertisement .hentry,
.ctfeaturedpostpageimage .hentry {
    border: none;
    margin-bottom: 21px;
}

.ctadvertisement .hentry:last-child,
.ctfeaturedpostpageimage .hentry:last-child {
    margin-bottom: 0;
}

.ctfeaturedembed .four-column .type-embed,
.ctfeaturedpostpageimage .four-column .hentry {
    margin-left: 4%;
    width: 22%;
}

.sidebar-after-content .ctfeaturedpostpageimage .four-column .hentry {
    margin-left: 1.33%;
    width: 24%;
}

.ctfeaturedembed .three-column .type-embed,
.ctfeaturedpostpageimage .three-column .hentry {
    margin-left: 4%;
    width: 30.66%;
}

.ctfeaturedembed .two-columns .type-embed,
.ctadvertisement .two-columns .ads-hentry,
.ctfeaturedpostpageimage .two-columns .hentry {
    margin-left: 4%;
    width: 48%;
}

.ctfeaturedembed .four-columns .type-embed:nth-child(4n+1),
.ctfeaturedembed .three-columns .type-embed:nth-child(3n+1),
.ctfeaturedembed .two-columns .type-embed:nth-child(2n+1),
.ctfeaturedpostpageimage .four-columns .hentry:nth-child(4n+1),
.ctfeaturedpostpageimage .three-columns .hentry:nth-child(3n+1),
.ctfeaturedpostpageimage .two-columns .hentry:nth-child(2n+1),
.ctadvertisement .two-columns .ads-hentry:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
}

.widget .featured-image {
    margin: 0 0 1.75em;
}

.widget .featured-image.aligncenter {
    text-align: center;
}

.widget .ctfeaturedpostpageimage .entry-title,
.widget .ctfeaturedpostpageimage .entry-meta {
    margin: 14px 0;
}

.ctfeaturedpostpageimage .left .featured-image,
.ctfeaturedpostpageimage .right .featured-image {
    width: 30%;
}

.ctfeaturedpostpageimage .center .featured-image {
    text-align: center;
}

.ctfeaturedpostpageimage .left .entry-container,
.ctfeaturedpostpageimage .right .entry-container {
    width: 70%;
}

.ctfeaturedpostpageimage .left .entry-container {
    padding-left: 15px;
}

.ctfeaturedpostpageimage .right .entry-container {
    padding-right: 15px;
}

.ctfeaturedpostpageimage .left .entry-container,
.ctfeaturedpostpageimage .right .featured-image {
    float: right;
}

.ctfeaturedpostpageimage .right .entry-container,
.ctfeaturedpostpageimage .left .featured-image {
    float: left;
}

.ctfeaturedpostpageimage .left .no-featured-image .entry-container,
.ctfeaturedpostpageimage .right .no-featured-image .entry-container {
    width: 100%;
    padding: 0;
}

.ctfeaturedpostpageimage .left .featured-image,
.ctfeaturedpostpageimage .right .featured-image,
.ctfeaturedpostpageimage .left .entry-container,
.ctfeaturedpostpageimage .right .entry-container {
    margin: 0;
}

.ctfeaturedpostpageimage .left .entry-title,
.ctfeaturedpostpageimage .right .entry-title,
.ctfeaturedpostpageimage .left .entry-meta,
.ctfeaturedpostpageimage .right .entry-meta {
    margin-top: 0;
    margin-bottom: 7px;
}

/* Gallery Widgets */
.ctgallerypostpageimage .hentry {
    position: relative;
}

.ctgallerypostpageimage .hentry .featured-image {
    margin: 0;
}

.ctgallerypostpageimage .hentry .entry-container {
    background: #303030;
    background: rgba( 48, 48, 48, 0.9 );
    padding: 10px 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: normal;
    opacity: 0;
    text-align: center;
    -webkit-transition: all .2s 0 linear;
    -moz-transition: all .2s 0 linear;
    -ms-transition: all .2s 0 linear;
    -o-transition: all .2s 0 linear;
    transition: all .2s 0 linear;
}

.ctgallerypostpageimage .hentry .entry-container>.vcenter {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-55%) scale(1.2);
    -ms-transform: translateY(-55%) scale(1.2);
    transform: translateY(-55%) scale(1.2);
    -webkit-transition: all .2s 0 linear;
    -moz-transition: all .2s 0 linear;
    -ms-transition: all .2s 0 linear;
    -o-transition: all .2s 0 linear;
    transition: all .2s 0 linear;
}

#featured-grid-content .grid-box:hover .caption>.vcenter {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}

.ctgallerypostpageimage .hentry:hover .entry-container {
    box-shadow: inset 0 0 50px 0 rgba(0,0,0,.1);
    opacity: 1;
}

.ctgallerypostpageimage .hentry .entry-container,
.ctgallerypostpageimage .entry-title,
.ctgallerypostpageimage .entry-title a {
    color: #fff;
}

.ctgallerypostpageimage .entry-title a:hover {
    color: #b00f14;
}

.ctgallerypostpageimage .fa {
    background-color: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 20px;
    color: #222;
    font-size: 20px;
    height: 20px;
    padding: 3px;
    width: 20px;
}

.ctgallerypostpageimage .fa:hover {
    background-color: #b00f14;
    color: #fff;
}

/* Newsletter Widget */
.ctnewsletter .widget-wrap {
    background-color: #1a1a1a;
    padding: 30px 30px 15px;
}

.ctnewsletter .ct-newsletter-wrap {
    clear: both;
    display: block;
}

.ctnewsletter .ct-newsletter-wrap input {
    margin-bottom: 15px;
    width: 100%;
}

.ctnewsletter .ct-newsletter-wrap #subbutton {
    margin: 21px 0;
    font-size: 14px;
    font-size: 0.875rem;
}

/* Instagram Widget */
.ctinstagram ul {
    margin: 0;
}

.ctinstagram ul li {
    list-style: none;
    margin: 0;
}

.ctinstagram .fa-instagram {
    background-color: transparent;
    border: 1px solid #e4405f;
    border-radius: 3px;
    color: #e4405f;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 20px;
}

.ctinstagram .fa-instagram:before {
    vertical-align: middle;
}

.ctinstagram .fa-instagram:hover,
.ctinstagram .fa-instagram:focus {
    background-color: #b00f14;
    color: #fff;
}

.ctinstagram span {
    margin-left: 5px;
}

.ctinstagram .clear {
    margin-bottom: 0;
}

.ctinstagram .hentry {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}

.ctinstagram .button {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    margin-top: 21px;
    text-align: center;
    width: 100%;
}

/* Tag Cloud widget */
.tagcloud a {
    border: 2px solid #ffeb3b;
    border-radius: 1px;
    display: inline-block;
    line-height: 1;
    margin: 0 0.1875em 0.4375em 0;
    padding: 0.5625em 0.4375em 0.5em;
}

.tagcloud a:hover,
.tagcloud a:focus {
    border-color: #0fc;
    outline: 0;
}

.cttagcloud .ct-tag-cloud-wrap.default a {
    padding: 5px;
}

.cttagcloud .ct-tag-cloud-wrap.box a,
.cttagcloud .ct-tag-cloud-wrap.rounded-corners a {
    background-color: #eee;
    color: #777;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
}

.cttagcloud .ct-tag-cloud-wrap.box a:hover,
.cttagcloud .ct-tag-cloud-wrap.rounded-corners a:hover {
    background-color: #4686cc;
    color: #fff;
}

.cttagcloud .ct-tag-cloud-wrap.rounded-corners a {
    border-radius: 10px;
}

/*--------------------------------------------------------------
14.0 - Comments
--------------------------------------------------------------*/

.comment-body {
    border: 1px solid #e8e6e6;
    margin-bottom: 35px;
}

.comment-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.comment-list .children {
    list-style: none;
    margin-left: 0;
}

.comments-title {
    text-align: center;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.form-allowed-tags {
    display: none;
}

.comment-meta {
    text-align: center;
}

.comment-content {
    border-top: 1px solid #e8e6e6;
    margin-top: 35px;
    padding-top: 21px;
}

.comment-author .avatar {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .1);
    display: block;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.comments-link {
    display: block;
    font-weight: 400;
}

.comments-area,
.comment-respond {
    margin: 35px 0;
}

.says {
    display: none;
}

.reply {
    margin-top: 21px;
}

.comment-body .fn {
    font-size: 24px;
    font-weight: 400;
}

.comment-body .fn a {
    font-weight: 400;
}

.comment-metadata,
.comment-body .edit-link {
    margin-top: 7px;
}

/*--------------------------------------------------------------
15.0 - Modules
--------------------------------------------------------------*/

.section {
    border-bottom: 1px solid #e8e6e6;
    clear: both;
    display: block;
    padding: 15px 0;
}

.section-heading-wrapper {
    display: block;
    margin: 0 auto;
    padding: 20px 35px 0;
    max-width: 906px;
    text-align: center;
}

.section-title {
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

.section .taxonomy-description-wrapper {
    margin: 14px 0;
}

.taxonomy-description-wrapper p {
    margin-bottom: 14px;
}

.section-content-wrapper {
    padding: 0 15px;
    position: relative;
}

.section-content-wrapper .entry-header,
.section-content-wrapper .entry-summary,
.section-content-wrapper .entry-content {
    margin: 21px 0;
    width: 100%;
}

.section-content-wrapper .entry-title,
.section-content-wrapper .entry-meta {
    margin: 14px 0;
}

.section-content-wrapper .entry-title a {
    border: none;
}

.section-content-wrapper .entry-title a:hover,
.section-content-wrapper .entry-title a:focus {
    opacity: 0.8;
}

.section-content-wrapper .entry-meta {
    font-size: 13px;
    font-size: 0.8125rem;
}

.section-content-wrapper .entry-meta a {
    border: none;
}

/*--------------------------------------------------------------
15.1 - Slider
--------------------------------------------------------------*/

#feature-slider-section {
    background-color: #333;
    color: #fff;
    padding: 0;
}

#feature-slider-section .hentry {
    padding: 0;
    width: 100%;
}

#feature-slider-section .slider-content-wrapper {
  padding: 0;
}

#feature-slider-section .slider-image-wrapper a {
    border: none;
    display: block;
    padding: 0;
}

#feature-slider-section .entry-container {
    display: block;
    padding: 30px 35px 70px 35px;
}

#feature-slider-section .entry-title {
    font-weight: 400;
    margin: 0;
    text-align: center;
}

#feature-slider-section .entry-title a,
#feature-slider-section .entry-meta a {
    border: none;
    color: #fff;
}

#feature-slider-section .entry-title a:hover,
#feature-slider-section .entry-title a:focus,
#feature-slider-section .entry-meta a:hover,
#feature-slider-section .entry-meta a:focus {
    opacity: 0.8;
}

#feature-slider-section .entry-title a {
    line-height: 1.2;
}

#feature-slider-section .cycle-prev,
#feature-slider-section .cycle-next {
    background-color: #000;
    border:  2px solid #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 48%;
    padding: 6px 6px 9px 9px;
    text-decoration: none;
    -moz-transition:    all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
    width: 43px;
    height: 43px;
    z-index: 199;
}

#feature-slider-section .cycle-prev {
    left: -30px;
}

#feature-slider-section .cycle-next {
    right: -30px;
}

#feature-slider-section:hover .cycle-prev,
#feature-slider-section:focus .cycle-prev {
    display: block;
    left: 30px;
    opacity: 1;
}

#feature-slider-section:hover .cycle-next,
#feature-slider-section:focus .cycle-next {
    display: block;
    right: 30px;
    opacity: 1;
}

#feature-slider-section .cycle-prev:hover,
#feature-slider-section .cycle-prev:focus,
#feature-slider-section .cycle-next:hover,
#feature-slider-section .cycle-next:focus {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
    color: #fff;
    text-decoration: none;
}

#feature-slider-section .icon {
    font-size: 32px;
    font-size: 2rem;
    width: 25px;
}

#feature-slider-section .cycle-prev .icon {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

#feature-slider-section .cycle-next .icon {
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
}

#feature-slider-section .cycle-pager {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 199;
}

#feature-slider-section .cycle-pager span {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    height: 12px;
    margin: 0 5px;
    overflow: hidden;
    width: 12px;
}

#feature-slider-section .cycle-pager span:hover,
#feature-slider-section .cycle-pager span:focus,
#feature-slider-section .cycle-pager .cycle-pager-active {
    opacity: 0.6;
}

#feature-slider-section .entry-summary,
#feature-slider-section .entry-content {
    display: none;
}

#feature-slider-section .entry-meta {
    display: none;
}

/*--------------------------------------------------------------
15.2 - Featured Content, Portfolio, Service & Testimonials
--------------------------------------------------------------*/

.featured-content-wrapper .hentry,
.portfolio-content-wrapper .hentry,
.service-content-wrapper .hentry,
.testimonial-content-wrapper .hentry {
    float: left;
    padding: 20px;
    width: 100%;
}

.featured-content-wrapper .post-thumbnail,
.portfolio-content-wrapper .post-thumbnail {
    width: 100%;
}

.featured-content-wrapper .entry-meta {
    text-align: left;
}

#portfolio-content-section,
#service-content-section,
#testimonial-content-section {
    background-color: #f8f8f8;
}

.portfolio-content-wrapper .hentry-inner {
    background-color: #fff;
}

.portfolio-content-wrapper .entry-container {
    padding: 21px 35px 35px 35px;
    text-align: center;
}

.portfolio-content-wrapper.section-content-wrapper .entry-header,
.portfolio-content-wrapper.section-content-wrapper .entry-summary,
.portfolio-content-wrapper.section-content-wrapper .entry-content  {
    margin: 0;
}

.service-content-wrapper .hentry-inner {
    background-color: #fff;
    padding: 35px 35px 9px 35px;
    text-align: center;
}

#testimonial-content-section .testimonial-content-wrapper:before {
    content: "\201C";
    font-size: 96px;
    font-size: 6rem;
    font-weight: 700;
    opacity: 0.6;
    position: absolute;
    top: -49px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.testimonial-content-wrapper .hentry {
    text-align: center;
}

.testimonial-content-wrapper .entry-content {
    background-color: #fff;
    padding: 35px;
}

#testimonial-content-section .section-content-wrapper {
    padding-top: 35px;
    margin-top: 35px;
}

.testimonial_slider_wrap {
    padding-bottom: 51px;
    width: 100%;
}

.testimonial-content-wrapper .entry-content,
.testimonial-content-wrapper .entry-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 906px;
}

.testimonial-content-wrapper .post-thumbnail {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    display: block;
    height: 0;
    margin: 0 auto 30px;
    padding-top: 100px;
    position: relative;
    text-decoration: none;
    width: 100px;
}

.testimonial-content-wrapper .post-thumbnail img {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#testimonial-content-section .entry-title {
    display: inline-block;
    margin: 0;
}

#testimonial-content-section .entry-meta {
    clear: both;
    display: block;
    margin: 7px 0;
}

#testimonial-content-section .cycle-pager {
    bottom: 49px;
    display: block;
    font-family: arial;
    font-size: 54px;
    line-height: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 101;
}

#testimonial-content-section .cycle-pager span {
    clear: both;
    color: #5e5e5e;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0 7px;
    width: 16px;
}

#testimonial-content-section .cycle-pager span:hover,
#f#testimonial-content-section .cycle-pager span:focus,
#testimonial-content-section .cycle-pager .cycle-pager-active {
    opacity: 0.6;
}

#testimonial-content-section .cycle-pager > * {
    cursor: pointer;
}

#testimonial-content-section .cycle-prev,
#testimonial-content-section .cycle-next {
    background-color: #000;
    border:  2px solid #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 50px;
    padding: 6px 6px 9px 9px;
    text-decoration: none;
    -moz-transition:    all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
    width: 43px;
    height: 43px;
    z-index: 199;
}

#testimonial-content-section .cycle-prev {
    left: -30px;
}

#testimonial-content-section .cycle-next {
    right: -30px;
}

#testimonial-content-section:hover .cycle-prev,
#testimonial-content-section:focus .cycle-prev {
    display: block;
    left: 30px;
    opacity: 1;
}

#testimonial-content-section:hover .cycle-next,
#testimonial-content-section:focus .cycle-next {
    display: block;
    right: 30px;
    opacity: 1;
}

#testimonial-content-section .cycle-prev:hover,
#testimonial-content-section .cycle-prev:focus,
#testimonial-content-section .cycle-next:hover,
#testimonial-content-section .cycle-next:focus {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
    color: #fff;
    text-decoration: none;
}

#testimonial-content-section .icon {
    font-size: 32px;
    font-size: 2rem;
    width: 25px;
}

#testimonial-content-section .cycle-prev .icon {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

#testimonial-content-section .cycle-next .icon {
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
}

.service-content-wrapper .post-thumbnail {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    display: block;
    height: 0;
    margin: 0 auto 30px;
    padding-top: 70%;
    position: relative;
    text-decoration: none;
    width: 70%;
}

.service-content-wrapper .post-thumbnail img {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------------------
15.3 - Hero Content
--------------------------------------------------------------*/

#hero-content-section .section-content-wrapper {
    padding: 20px 35px;
}

.hero-content-wrapper .hentry {
    position: relative;
}

.hero-content-wrapper .post-thumbnail {
    background-position: center center;
    background-size: cover;
    content: "";
    float: left;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.hero-content-wrapper .post-thumbnail a {
    border: none;
    position: absolute;
    top: 0;
    right:  0;
    bottom: 0;
    left: 0;
}

.hero-content-wrapper .entry-container {
    clear: both;
    padding: 14px 0 0;
    width: 100%;
}

.hero-content-wrapper .entry-footer {
    text-align: left;
}

/*--------------------------------------------------------------
15.4 - Others
--------------------------------------------------------------*/

.rt-reading-time {
    margin: 0 0 1.75em;
    text-align: center;
}

.widget .rt-reading-time,
.page .rt-reading-time,
.archive-post-wrapper .rt-reading-time,
.section .rt-reading-time,
.testimonial-entry-content .rt-reading-time,
.search-results .rt-reading-time,
.attachment .rt-reading-time {
    display: none !important;
}

.widget_contact_info {
    text-align: center;
}

.entry-content > :last-child,
.entry-summary > :last-child,
body:not(.search-results) .entry-summary > :last-child,
.page-content > :last-child,
.comment-content > :last-child,
.widget > :last-child,
.textwidget > :last-child,
.taxonomy-description-wrapper > :last-child {
    margin-bottom: 0;
}

.woocommerce-products-header {
    text-align: center;
}

.woocommerce-products-header .page-title {
    margin-bottom: 7px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    background-color: #000;
    color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #5e5e5e;
    color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce p.stars a,
.woocommerce nav.woocommerce-pagination ul li a,
.cart_item a {
    border: none;
}

.woocommerce-cart-form #coupon_code {
    padding: 11px 6px;
    width: auto !important;
}

.woocommerce-page .woocommerce table.shop_table {
    border: 1px solid #5e5e5e;
}

/*--------------------------------------------------------------
16.0 - Media Queries
--------------------------------------------------------------*/

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/*--------------------------------------------------------------
16.1 - >= 737px (iPhone 6 Landscape )
--------------------------------------------------------------*/

@media screen and (min-width: 46.0625em) {
    .boxed-layout #page {
        padding: 0 2%;
    }

    .custom-header-content {
        padding: 161px 49px;
    }

    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .service-content-wrapper.layout-four .hentry,
    .testimonial-content-wrapper.layout-four .hentry,
    .featured-content-wrapper.layout-two .hentry,
    .portfolio-content-wrapper.layout-two .hentry,
    .service-content-wrapper.layout-two .hentry,
    .testimonial-content-wrapper.layout-two .hentry,
    .site-footer .two .widget-column,
    .site-footer .four .widget-column {
        width: 50%;
    }

    .featured-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .featured-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .portfolio-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .portfolio-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .service-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .service-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .testimonial-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .testimonial-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .sidebar .widget:nth-child(2n+1),
    .site-footer .two .widget-column:nth-child(2n+1),
    .site-footer .four .widget-column:nth-child(2n+1) {
        clear: both;
    }

    .featured-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-three .hentry,
    .service-content-wrapper.layout-three .hentry,
    .testimonial-content-wrapper.layout-three .hentry,
    .site-footer .three .widget-column {
        width: 33.33%;
    }

    .featured-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .portfolio-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .service-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .testimonial-content-wrapper.layout-three .hentry:nth-child(3n+1) {
        clear: both;
    }

    .hero-content-wrapper .hentry {
        display: table;
        width: 100%;
    }

    .hero-content-wrapper .post-thumbnail {
        display: table-cell;
        vertical-align: middle;
        bottom: 0;
        left: 0;
        padding-bottom: 0;
        position: absolute;
        top: 0;
        width: 45%;
    }

    .hero-content-wrapper .entry-container {
        display: table-cell;
        float: right;
        padding: 35px 0 35px 35px;
        vertical-align: middle;
        width: 55%;
    }

    .hero-content-wrapper .entry-container.full-width {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 960px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .hero-content-wrapper .entry-container.full-width .entry-footer {
        text-align: center;
    }

    .hero-content-wrapper .entry-header,
    .hero-content-wrapper .entry-title {
        margin-top: 0;
    }
}

/*--------------------------------------------------------------
16.2 - >= 768px (iPad Portrait)
--------------------------------------------------------------*/

@media screen and (min-width: 48em) {
    .wrapper {
        width: 94%;
    }

    .site-header {
        padding: 35px 0;
    }

    .custom-header-content {
        padding: 161px 49px 259px 49px;
    }

    .wp-custom-header-video-button {
        bottom: 130px;
    }

    .site-description {
        font-size: 40px;
        font-size: 2.5rem;
    }

    body:not(.header-media-disabled) .below-site-header {
        margin-top: -98px;
    }

    .two-columns .hentry {
        width: 50%;
    }

    .three-columns .hentry {
        width: 33.33%;
    }

    .four-columns .hentry {
        width: 25%;
    }

    .five-columns .hentry {
        width: 20%;
    }

    .six-columns .hentry {
        width: 16.66%;
    }

    .seven-columns .hentry {
        width: 14.28%;
    }

    .eight-columns .hentry {
        width: 12.5%;
    }

    .nine-columns .hentry {
        width: 11.11%;
    }

    .nine-columns .hentry:nth-child(9n+1),
    .eight-columns .hentry:nth-child(8n+1),
    .seven-columns .hentry:nth-child(7n+1),
    .six-columns .hentry:nth-child(6n+1),
    .five-columns .hentry:nth-child(5n+1),
    .four-columns .hentry:nth-child(4n+1),
    .three-columns .hentry:nth-child(3n+1),
    .two-columns .hentry:nth-child(2n+1) {
        clear: both;
    }
}

/*--------------------------------------------------------------
16.3 - >= 906px (iPad, Nexus7 Landscape)
--------------------------------------------------------------*/

@media screen and (min-width: 56.625em) {
    .boxed-layout .site-header,
    .boxed-layout .footer-area .social-navigation,
    .boxed-layout .site-info {
        padding-left: 55px;
        padding-right: 55px;
    }

    .section {
        padding: 35px 0;
    }

    .section-content-wrapper {
        padding: 0 35px;
    }

    #hero-content-section .section-content-wrapper {
        padding-left: 55px;
        padding-right: 55px;
    }

    .site-content-wrapper,
    .footer-widget-wrapper {
        padding: 35px;
    }

    .footer-widget-wrapper .widget {
        margin-bottom: 20px;
    }

    .site-content-wrapper .sidebar{
        padding-top: 7px;
    }

    .site-content-wrapper .widget {
        padding: 20px 0 35px;
        margin: 0 20px 15px 20px;
    }

    .custom-header-content {
        padding: 196px 98px 392px 98px;
    }

    .wp-custom-header-video-button {
        bottom: 230px;
    }

    .site-description {
        font-size: 52px;
        font-size: 3.25rem;
    }

    body:not(.header-media-disabled) .below-site-header {
        margin-top: -196px;
    }

    .link-more {
        text-align: left;
    }

    .content-area {
        width: 64%;
    }

    .entry-meta {
        text-align: center;
    }

    .sidebar {
        clear: none;
        margin: 0;
        text-align: left;
        width: 32.728%;
    }

    /* left Sidebar */
    .content-right .content-area {
        float: right;
    }

    .content-right .sidebar {
        float: left;
    }

    /* Right Sidebar */
    .content-left .content-area {
        float: left;
    }

    .content-left .sidebar {
        float: right;
    }

    /* No Sidebar */
    .no-sidebar .content-area,
    .error404 .content-area {
        display: block;
        float: none;
        margin: 0 auto;
    }

    /* No Sidebar: Full Width; */
    .full-width-layout .content-area {
        width: 100%;
    }

    .full-width-layout .archive-post-wrapper .entry-summary {
        float: left;
        margin-top: 7px;
        width: 66%;
    }

    .full-width-layout .archive-post-wrapper .entry-meta {
        float: right;
        width: 30%;
    }

    .full-width-layout .archive-post-wrapper .byline {
        display: block;
        margin: 15px 0;
    }

    .full-width-layout .archive-post-wrapper .posted-on {
        font-size: 23px;
        font-size: 1.4375rem;
    }

    .comment-list .children {
        padding-left: 40px;
    }

    .title {
        float: left;
        text-align: left;
    }

    .description {
        clear: none;
        text-align: right;
        float: right;
    }

    .site-header-menu {
        display: block;
        margin: 1.5em 0 0;
        text-align: center;
    }

    .site-navigation {
        margin: 0 -20px 0 -10px;
    }

    #site-footer-navigation {
        margin: 0;
    }

    #footer-menu-section {
        display: block;
    }

    .footer-navigation ul {
        margin: 0;
        text-align: center;
    }

    .footer-navigation ul li {
        border: none;
        display: inline-block;
    }

    .footer-navigation ul li a {
        margin: 0 10px;
    }

    .site-navigation .primary-menu,
    .site-navigation .primary-menu > li {
        border: none;
    }

    .site-navigation .primary-menu > li {
        display: inline-block;
    }

    .site-navigation a {
        border-bottom: 4px solid transparent;
        margin: 0 15px 7px 15px;
        padding: 0;
        white-space: nowrap;
    }

    .site-navigation li {
        border-top: none;
    }

    .site-navigation a:hover,
    .site-navigation a:focus {
        border-bottom: 4px solid #0fc;
    }

    .site-navigation .menu-item-has-children a:hover,
    .site-navigation .menu-item-has-children a:focus,
    .site-navigation .page_item_has_children a:hover,
    .site-navigation .page_item_has_children a:focus {
        border-bottom: 4px solid transparent;
    }

    .site-navigation ul ul {
        border-top: 4px solid #0fc;
        display: block;
        left: -999em;
        margin: 0;
        position: absolute;
        z-index: 99999;
    }

    .site-navigation ul ul ul {
        top: -1px;
    }

    .site-navigation ul ul ul:before,
    .site-navigation ul ul ul:after {
        border: none;
    }

    .site-navigation ul ul li {
        background-color: #ffeb3b;
        border-bottom-width: 0;
    }

    .site-navigation ul ul a {
        border: none;
        margin: 0;
        padding: 7px 28px;
        text-align: left;
        text-transform: none;
        white-space: normal;
        width: 210px;
    }

    .site-navigation ul ul:before,
    .site-navigation ul ul:after {
        border-style: solid;
        content: "";
        position: absolute;
    }

    .site-navigation ul ul:before {
        border-color: #0fc transparent;
        border-width: 0 10px 10px;
        right: 7px;
        top: -11px;
    }

    .site-navigation ul ul:after {
        border-color: #0fc transparent;
        border-width: 0 8px 8px;
        right: 10px;
        top: -11px;
    }

    .site-navigation li:hover > ul,
    .site-navigation li.focus > ul {
        left: auto;
        right: 0;
    }

    .site-navigation ul ul li:hover > ul,
    .site-navigation ul ul li.focus > ul {
        left: auto;
        right: 100%;
    }

    .site-navigation .current_page_item > a,
    .site-navigation .current-menu-item > a,
    .site-navigation .current_page_ancestor > a,
    .site-navigation .current-menu-ancestor > a {
        border-bottom: 4px solid #d81b60;
    }

    .site-navigation ul ul a:hover,
    .site-navigation ul ul a:focus,
    .site-navigation ul ul .current_page_item > a,
    .site-navigation ul ul .current-menu-item > a,
    .site-navigation ul ul .current_page_ancestor > a,
    .site-navigation ul ul .current-menu-ancestor > a,
    .site-navigation .menu-item-has-children ul a:hover,
    .site-navigation .menu-item-has-children ul a:focus,
    .site-navigation .page_item_has_children ul a:hover,
    .site-navigation .page_item_has_children ul a:focus {
        border-bottom: none;
    }

    .site-navigation .menu-item-has-children > a,
    .site-navigation .page_item_has_children > a {
        margin: 0 15px 0 15px;
    }

    .site-navigation .menu-item-has-children li a,
    .site-navigation .page_item_has_children li a {
        margin: 0;
    }

    .site-navigation .menu-item-has-children > a > .icon,
    .site-navigation .page_item_has_children > a > .icon {
        display: inline;
        left: 5px;
        position: relative;
        top: -1px;
    }

    .site-navigation ul ul .menu-item-has-children > a > .icon,
    .site-navigation ul ul .page_item_has_children > a > .icon {
        margin-top: -7px;
        left: auto;
        position: absolute;
        right: 9px;
        top: 50%;
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg);
    }

    .dropdown-toggle,
    .menu-toggle {
        display: none;
    }

    #feature-slider-section .slider-content-wrapper {
        background: rgba( 0, 0, 0, 0.1 );
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #feature-slider-section .entry-container {
        display: block;
        margin: 0 auto;
        max-width: 960px;
        padding: 50px;
    }

    #feature-slider-section .cycle-pager {
        bottom: 14px;
    }

    #feature-slider-section .entry-meta,
    #feature-slider-section .entry-summary,
    #feature-slider-section .entry-content {
        display: block;
        float: none;
        margin: 0 auto;
    }

    #feature-slider-section .entry-meta {
        margin-bottom: 14px;
    }

    #feature-slider-section .entry-summary,
    #feature-slider-section .entry-content,
    #feature-slider-section .link-more {
        margin-top: 14px;
        text-align: center;
        width: 100%;
    }

    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .service-content-wrapper.layout-four .hentry,
    .testimonial-content-wrapper.layout-four .hentry,
    .site-footer .four .widget-column {
        width: 25%;
    }

    .featured-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .portfolio-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .service-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .testimonial-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .site-footer .four .widget-column:nth-child(2n+1) {
        clear: none;
    }

    .featured-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .portfolio-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .service-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .testimonial-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .site-footer .four .widget-column:nth-child(4n+1) {
        clear: both;
    }

    blockquote.alignright,
    blockquote.alignleft {
        width: 50%;
    }
}

/*--------------------------------------------------------------
16.4 - >= 985px
--------------------------------------------------------------*/

@media screen and (min-width: 61.5625em) {
    h1 {
        font-size: 33px;
        font-size: 2.0625rem;
        line-height: 1.2727272727;
        margin-top: 1.696969697em;
        margin-bottom: 0.8484848485em;
    }

    h2 {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 1.25;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    h3 {
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 1.2173913043;
        margin-top: 2.4347826087em;
        margin-bottom: 1.2173913043em;
    }

    h4 {
        letter-spacing: 0.131578947em;
    }

    h4,
    h5,
    h6 {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.1052631579;
        margin-top: 2.9473684211em;
        margin-bottom: 1.473684211em;
    }

    .site-content-wrapper .content-area .entry-title,
    .woocommerce-products-header .page-title {
        font-size: 44px;
        font-size: 2.75rem;
    }

    #feature-slider-section .entry-title {
        font-size: 32px;
        font-size: 2rem;
    }

    .section-content-wrapper .entry-title,
    .comments-title {
        font-size: 23px;
        font-size: 1.4375rem;
    }

    .hero-content-wrapper .entry-container {
        padding: 55px 0 55px 55px
    }

}

/*--------------------------------------------------------------
16.5 - >= 1152px
--------------------------------------------------------------*/

@media screen and (min-width: 72em) {
    .site-header {
        padding: 55px 0;
    }

    .site-header-main {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .wp-custom-logo .site-header-main {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

   .site-header-menu {
        display: block;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin: 0;
    }

    .site-branding {
        width: auto;
    }

    .site-description {
        padding: 28px 70px
    }
    .custom-header-content {
        padding: 301px 98px 679px 98px;
    }

    .wp-custom-header-video-button {
        bottom: 420px;
    }

    .site-description {
        font-size: 60px;
        font-size: 3.75rem;
    }

    body:not(.header-media-disabled) .below-site-header {
        margin-top: -378px;
    }
}

/*--------------------------------------------------------------
17.0 - Print styles
--------------------------------------------------------------*/

@media print {

    * {
        background: transparent !important;
        color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* Do not show javascript and internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}
